.dashicons span[data-rich-text-placeholder] {
    font-size: 0;
}

button.components-button.open-pattern-inserter-sp {
    background: #151db9;
    color: #fff;
    margin-right: 5px;
}

button.components-button.open-pattern-inserter-sp svg {
    height: 30px;
    width: 30px;
    margin-right: 5px;
}